.homePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: black;
}

.homePage.how{
    margin-top: 10px;
}

.homeDiv{
    margin-bottom: 10px;
}

.howToDiv 
{
    text-align: center;
    margin-bottom: 20px;
}

.addBotMargin {
    margin-bottom: 100px;
}